* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(120deg, #e382c6, #92bccf);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form-box {
    width: 350px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 1px;
}

.form-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 15px;
    transition: 0.4s;
}

.form-box input:focus {
    border-bottom: 2px solid #00f2fe;
}

.password-box {
    position: relative;
}

.terms {
    text-align: left;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}

.terms input {
    width: auto;
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    background: #a86f5e;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #98a9ae;
}

.login-text {
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
}

.login-text a {
    color: yellow;
    text-decoration: none;
}