body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(130deg,#5a2be0,#7b52ff);
    font-family:Segoe UI;
}

.wrapper{ width:850px; max-width:95%; }

.panel{
    display:flex;
    height:420px;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 25px 50px rgba(0,0,0,0.4);
}

.login-box{
    width:50%;
    padding:60px 40px;
    background:#090522;
    color:white;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-bottom:1px solid #777;
    background:transparent;
    color:white;
}

button{
    margin-top:20px;
    padding:12px;
    border:none;
    border-radius:25px;
    background:linear-gradient(90deg,#7b52ff,#5a2be0);
    color:white;
    cursor:pointer;
}

.welcome{
    width:50%;
    background:linear-gradient(140deg,#7b52ff,#4b21c9);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    transition:.6s;
}

.slide .welcome{ transform:translateX(-100%); }
.slide .login-box{ transform:translateX(100%); }

p span{ color:#cdb9ff; cursor:pointer; }
